<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tbfisher.finntv</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1C60E924-8FBC-4D7C-AF79-9E9B2BB1D58A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F259D0B9-D96A-410E-A07E-69476727169C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C4318EB-B540-46F9-82BC-89916A763F1C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D8117AB-A423-43D5-8EEC-8EEC17CCF5ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>593A9083-24A1-4B65-96A6-048215767586</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>561EB952-C031-40A3-A4EA-B60FC28347DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4C4318EB-B540-46F9-82BC-89916A763F1C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>593A9083-24A1-4B65-96A6-048215767586</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2D2BCCA9-CE00-47BE-9845-CB6CA9059D2D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D8117AB-A423-43D5-8EEC-8EEC17CCF5ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D7577573-82C7-4FA0-A623-4BCD36CD498C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B835D7A-9883-4E4F-B638-3D8D04B00406</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>561EB952-C031-40A3-A4EA-B60FC28347DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F259D0B9-D96A-410E-A07E-69476727169C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>561EB952-C031-40A3-A4EA-B60FC28347DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>TB Fisher</string>
	<key>description</key>
	<string>A program guide to what's on now and later</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Finnish TV guide</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search-channels</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>1C60E924-8FBC-4D7C-AF79-9E9B2BB1D58A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>search-channel</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>D7577573-82C7-4FA0-A623-4BCD36CD498C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>channels</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>6D8117AB-A423-43D5-8EEC-8EEC17CCF5ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>channels</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching channels</string>
				<key>script</key>
				<string>python channels.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View current and next program details</string>
				<key>title</key>
				<string>Choose a TV channel</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F259D0B9-D96A-410E-A07E-69476727169C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>program</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching program details</string>
				<key>script</key>
				<string>python program.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for program details with program ID</string>
				<key>title</key>
				<string>Program details</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4C4318EB-B540-46F9-82BC-89916A763F1C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>programs</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching programs</string>
				<key>script</key>
				<string>python programs.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Show upcoming programs and times</string>
				<key>title</key>
				<string>Programs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>561EB952-C031-40A3-A4EA-B60FC28347DE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>search-channels</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>2D2BCCA9-CE00-47BE-9845-CB6CA9059D2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>channels</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>593A9083-24A1-4B65-96A6-048215767586</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>search-channel</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8B835D7A-9883-4E4F-B638-3D8D04B00406</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Lists the major free Finnish channels, with what is currently showing and what is upcoming.</string>
	<key>uidata</key>
	<dict>
		<key>1C60E924-8FBC-4D7C-AF79-9E9B2BB1D58A</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>2D2BCCA9-CE00-47BE-9845-CB6CA9059D2D</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>4C4318EB-B540-46F9-82BC-89916A763F1C</key>
		<dict>
			<key>xpos</key>
			<integer>590</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>561EB952-C031-40A3-A4EA-B60FC28347DE</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
		<key>593A9083-24A1-4B65-96A6-048215767586</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>6D8117AB-A423-43D5-8EEC-8EEC17CCF5ED</key>
		<dict>
			<key>xpos</key>
			<integer>840</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>8B835D7A-9883-4E4F-B638-3D8D04B00406</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>D7577573-82C7-4FA0-A623-4BCD36CD498C</key>
		<dict>
			<key>xpos</key>
			<integer>930</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>F259D0B9-D96A-410E-A07E-69476727169C</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>140</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
